#tblTitle {
margin: 0 auto;
}

#tblList {
width: 50%;
border-collapse: collapse;
margin: 0 auto;
}

#tblAdd {
margin: 0 auto;
width: 50%;
}

th {
padding: 5%;
font-size: 35px;
font-weight: bold;
}

tr {
font-size: 30px;
text-align: center;
}

td {
padding: 10px;
border-bottom: 1px solid #c5c5c5;
}

#divLoading {
  width: 100%;  
  height: 100%;  
  top: 0px;
  left: 0px;
  position: fixed;  
  display: block;  
  opacity: 0.7;  
  background-color: #fff;  
  z-index: 99;  
  text-align: center; 
} 

#imgLoading {  
  position: absolute;  
  top: 50%;  
  left: 50%; 
  z-index: 100; 
}

#user {
  position: absolute;
  top: 5%;
  left: 85%;
}