#margin {
  height: 10%;
}
#display {
  width: 100%;
  height: 50%;
  margin: auto;
}
.textbox {
  font-weight:bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}
#leftbox {
  height: 300px;
  background-color:#EB8376;
  box-sizing: border-box;
  border-width:5px;
  border-radius: 15px;

  font-size: 8vmin;
  line-height: 9vmin;
}
#rightboxcontainter {
  height: 100%;
}
#clock {
  height:30%;
  text-align: center;
}
#rightbox {
  height: 180px;
  background-color:#EB8376;
  box-sizing: border-box;
  border-width:5px;
  border-radius: 15px;

  font-size:6vmin;
  line-height: 7vmin;
}
#arrowiconbox {
  height: 100%;
}
#arrowtable {
  height:100%;
}
#arrowicon {
    width: 100%;
    text-align: center;
}
#closeicon {
  width: 50%;
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
}


#bar {
    width: 70%;
    height: 20%;
    margin: auto;
    margin-top: 2%;
}
#ProgressBar {
    width: 100%;
    background-color: white;
    margin: auto;
}
#Progress {
  width: 100%;
  background-color: white;
}
#myTime {
  width: 100%;
  background-color: grey;
}
#Time {
  width: 100%;
  background-color: white;
}
#TBar {
  width: 0%;
  height: 40px;
  background-color: green;
}

#PPointer {
  width: 0%;
  height: 60px;
  background-color: white;
}
#TPointer {
  width: 0;
  height: 80px;
  background-color: white;
}
#man {
  width: 60px;
  height: 60px;
  float: right;
  transform: translateX(30px);
}
#horse {
  width: 80px;
  height: 80px;
  float: right;
  transform: translateX(40px);
}
#piechart {
  width: 80%;
  height: 100%;
  float: right;
  transform: scale(1.5) translate(0%,-30%); 
}

#area1 {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#area2 {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}

#ready {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.7;
  background-color: #fff;
  
  font-size: 100px;
}

#divLoading {
  width: 100%;  
  height: 100%;  
  top: 0px;
  left: 0px;
  position: fixed;  
  display: block;  
  opacity: 0.7;  
  background-color: #fff;  
  z-index: 99;  
  text-align: center; 
} 

#imgLoading {  
  position: absolute;  
  top: 50%;  
  left: 50%; 
  z-index: 100; 
}

#setting {
    position:fixed;
    text-align:center;
    top:30%;
    left:33%;
    width: 550px;
    height: 150px;
    margin: auto;
    background-color:#f0f0f0;
    border: 1px solid black;
    padding: 5px;
    z-index: 200;
    display:none;
}

#start_presentation {
  height: 10%;
  margin-top: 5%;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  z-index: 1000;
}

#button {
  padding-top: 20px;
  width: 100%;
  height: 70px;
  border: none;
}

.button_in {
  width: 50%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  color: #8acecf;
  border: none;
}
