body {
    background-color:#E6E2CF;
}
.area1{
    float:left;
    position:fixed;
    left: 100px;
    top:50px;
    width:200px;
    padding:250px;
    opacity:0;
    z-index:2;
    cursor: pointer; 
}

.area2{
    float:left;
    position:fixed;
    left:800px;
    top:50px;
    width:10px;
    padding:250px;
    opacity:0;
    z-index: 2; 
    cursor: pointer; 
}
#leftbox {
    z-index:2;
    float:left;
    position:fixed;
    width:500px;
    margin-top:6%;
    margin-left:15%;
    padding: 140px;
    background-color:#EB8376;
    border: 20px solid grey;
    box-sizing: border-box;
    border-width: 5px;
    font-size:50px;
    font-weight:bold;
    text-align:center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    }
#rightbox {
    float:left;
    position:fixed;
    left: 900px;
    width:20%;
    margin-top:10%;
    padding: 80px;
    border: 20px solid grey;
    background-color:#EBA393; 
    box-sizing: border-box;
    border-width:5px;
    z-index:1;
    font-size:30px;
    font-weight: bold;
    text-align:center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    }

#arrowicon {
    float:left;
    position:fixed;
    left:770px;
    top:200px;
}

#cancel{
    float:left;
    position:fixed;
    left:1150px;
    top:30px;
    color:red;
}

#small{
    float:left;
    position:fixed;
    left:1150px;
    top:30px;
    background-color:blue;
    z-index:5;
    opacity:0;
    padding:25px;
    cursor: pointer; 
}
