.area1{
    float:left;
    position:fixed;
    left: 8%;
    top:5%;
    width:16%;
    padding:15%;
    opacity:0;
    background-color: blue;
    z-index:2;

}

.area2{
    float:left;
    position:fixed;
    left:54%;
    top:5%;
    width:10%;
    padding:15%;
    opacity:0;
    background-color: red;
    z-index: 2; 
    cursor: pointer; 
}

#leftbox {
    z-index:2;
    float:left;
    position:fixed;
    width:35.5%;
    margin-top:5%;
    margin-left:13%;
    padding: 10%;
    background-color:#EB8376;
    border: 20px solid grey;
    box-sizing: border-box;
    border-width: 5px;
    font-size:50px;
    font-weight:bold;
    text-align:center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    }

    
    #arrowicon {
        float:left;
        position:fixed;
        margin-left:50.5%;
        margin-top:13.5%;
    }
    

#rightbox {
    float:left;
    position:fixed;
    left: 57%;
    width:23%;
    margin-top:11.5%;
    padding: 6%;
    border: 20px solid grey;
    background-color:#EBA393; 
    box-sizing: border-box;
    border-width:5px;
    z-index:1;
    font-size:30px;
    font-weight: bold;
    text-align:center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    }

.progressbar{
    float:left;
    position:fixed;
    width:50%;
    top:72%;
    left:26.5%;
    padding:1%;
    border: 20px solid grey;
    border-width:5px;
    z-index:3;
    background-color:#FFF9EC;
}

#pointdown{
    float:left;
    position:fixed;
    top:65%;
    left:26%;
}

#pointup{
    float:left;
    position:fixed;
    top:78%;
    left:26%;
}


#clock{
    float: left;
    position:fixed;
    z-index:3;
    left: 75%;
    top:6%;
}

.canvas{
    float:left;
    position:fixed;
    width:100%;
    top:0px;
    left:0px;
    background-color:#575654;
    opacity:0.75;
    padding:100%;
    z-index:4;
}

.title{
    float:left;
    position:fixed;
    left: 35%;
    top: 35%;
    z-index:5;
    font-size:400%;
    font-style:bold;
    text-align: center;
    color:white;
}

.title2{
    float:left;
    position:fixed;
    left: 22%;
    top: 23%;
    z-index:6;
    font-size:40px;
    font-style:bold;
    text-align: center;
    color:white; 
}

.title3{
    position:fixed;
    left: 60%;
    top: 23%;
    z-index:6;
    font-size:40px;
    font-style:bold;
    text-align: center;
    color:white; 
}

.vertic{
    float:left;
    position:fixed;
    width:0.1%;
    left:52.5%;
    background-color:white;
    height: 68%;
    padding:0.1%;
    z-index: 6;
}

.title4{
    float:left;
    position:fixed;
    left: 61%;
    top: 18%;
    z-index:6;
    font-size:40px;
    font-style:bold;
    text-align: center;
    color:white; 
}

.title5{
    float:left;
    position:fixed;
    left: 36%;
    top: 56%;
    z-index:6;
    font-size:40px;
    font-style:bold;
    text-align: center;
    color:white; 
}

#arrow{
    color:white;
    float:left;
    position:fixed;
    left:62%;
    top:10%;
    z-index:6;    
}

#arrow2{
    color:white;
    float:left;
    position:fixed;
    left:31%;
    top:61%;
    transform: rotate(-90deg);
    z-index:6; 
}
