#timer_body {
    width: 50%;
    margin: auto;
    border: 1px solid black;
}
#buttons {
    margin-left: 20px;
}
#piechart {
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
}
#input {
    height: 30px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#clock {
    height: 100%;
}
#time_input {
    height: 100%;
}