body {
    background-color:white;
    height: 100%;
}
#main{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
#bar {
    width: 80%;
    height: 20%;
}
#leftbox {
    background-color:#EB8376;
    border:solid grey;
    box-sizing: border-box;
    border-width:5px;
    font-size:50px;
    font-weight:bold;
    text-align:center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    }
#rightbox {
    border: 20px solid grey;
    background-color:#EBA393; 
    box-sizing: border-box;
    border-width:5px;
    font-size:30px;
    font-weight: bold;
    text-align:center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    }
#area1 {
    z-index: 2;
}
#area2 {
    z-index: 2;
}
#arrowicon {
    width: 80%;
}

#cancel{
    /* float:left; */
    /* position:fixed;
    left:77%;
    top:4%; */
    color:red;
}

#small{
    float:left;
    background-color:blue;
    z-index:5;
    opacity:0;
    padding:25px;
    cursor: pointer; 
}
#piechart {
  left: 65%;
  top: 6%;
  position: fixed;
  width: 10%;
  height: 20%;  
}

#ProgressBar {
    width: 80%;
    background-color: white;
  }
  #Progress {
    width: 100%;
    background-color: white;
  }
  #myTime {
    width: 100%;
    background-color: grey;
  }
  #Time {
    width: 100%;
    background-color: white;
  }
  #TBar {
    width: 0%;
    height: 40px;
    background-color: green;
  }
  
  #PPointer {
    width: 0%;
    height: 40px;
    background-color: white;
  }
  #TPointer {
    width: 0;
    height: 40px;
    background-color: white;
  }
  #man {
    width: 40px;
    height: 40px;
    float: right;
  }
  #horse {
    width: 80px;
    height: 80px;
    float: right;
  }
  
